@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 200;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 0.3em;
}

p {
  margin: 0;
}

* {
  box-sizing: border-box;
}
